* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wholePage {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.navbar {
    width: 100%
}

.navbar > .container {
    margin-left: 1rem;
    margin-right: 1rem;
}

.toggleInfoBar {
    margin-right: 2rem;
}

.settingsIcon {
    font-size: 1.3rem;
}

#bodyCalendar {
    width: 100%;
}

.row, .col-2, .col {
    margin: 0;
    padding: 0;
}

#infoBar {
    height: calc(100vh - 3.5rem);
    background-color: gray;
    border-right: 1px solid black;
    min-width: 15rem;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.buttonContainer {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.buttonAdd {
    margin-bottom: 0.5rem;
    box-shadow: 2px 2px 3px black;
}

.listToday, .toggleDeleteContainer, .containerTasks {
    width: 90%;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.labelToday, .labelToggleDelete, .labelTasks {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 0.25rem;
}

.empty {
    text-align: center;
}

.tasks {
    width: 100%;
    font-size: 0.9rem;
    overflow: auto;
}


#mainCalendar {
    height: calc(100vh - 3.5rem);
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCalendar {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.headerCalendar {
    width: 100%;
    height: 10%;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.month {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

#goPrevMonth, #goNextMonth {
    font-size: 1.25rem;
}

#goPrevMonth:hover, #goNextMonth:hover {
    cursor: pointer;
    background-color: rgb(196, 192, 192);
    border-radius: 50%;
}

.weekdays {
    width: 100%;
    height: 6%;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    width: calc((100%) / 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.days {
    width: 100%;
    height: 84%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5rem;
}

.days div {
    margin: 0.25rem 0.25rem;
    width: calc((100% - (7 * (0.25rem * 2))) / 7);
    height: auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.days div:hover:not(.currentDate) {
    opacity: 0.8;
}

.days div.currentDate {
    background-color: aliceblue;
}

.prevMonthDates, .nextMonthDates {
    opacity: 0.5;
}
